@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Science+Gothic:wght@100..900&display=swap');

.container {
    font-family: 'Merriweather', serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100vh;
    gap: 60px;
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.top-content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.bottom-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
