@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Science+Gothic:wght@100..900&display=swap');

.background {
    width: 100%;
    height: 100%;
    background-image: url('assets/sunny.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


